/Day01TeamMembers/nbproject/private/
/Day01TeamMembers/build/
/DataStructures/target/
/Day01TeamMembers/dist/
/DataStructures/nbproject/
/MidtermDSPriStackGen/nbproject/
/MidtermDSPriStackGen/target/
/Day08DirectorySize/nbproject/private/
/JavaApplication6/nbproject/private/
/Day08DirectorySize/build/
